.navbar {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navbar-brand{
	font-weight: bold;
	order: 1;
}

.menu-hover{
	order: 2;
	display: flex;
	justify-content: space-around;
}

.menu-hover .navbar-nav{
	display: flex;
	flex-direction: row;
	padding: 4px;
	font-weight: bold;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 20px;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
